 /**
  * Project: Modular
  * Name: modular.css V 1.6
  * Author: Corbin "Spr0xy" Matschull
  * License: MIT
 **/
		::selection{
			background: #FF4081;
			color: #fff;
		}
		html::-webkit-selection{
			background: #FF4081;
			color: #fff;
		}
		h1{
			font-size: 85px;
			font-weight: 400;
		}
		h2{
			font-size: 35px;
			font-weight:400;
		}
		html,body{
			font-family: "Helvetica Neue", "Roboto", Helvetica, Arial, sans-serif;
			background: #fff;
        }
		body{
			overflow-x:hidden;
		}
        .modalT{
          position: absolute;
          top:47vh;
          left: 85vw;
          z-index: 1;
		  width: 60px;
          height: 60px;
		  font-size:24px;
		  text-align:center;
          border-radius: 2em;
          background:#64B5F6;
          -webkit-transition: all .25s ease-in-out;
             -moz-transition: all .25s ease-in-out;
              -ms-transition: all .25s ease-in-out;
               -o-transition: all .25s ease-in-out;
                  transition: all .25s ease-in-out;
        }
		.modalT:hover{
			box-shadow: 0px 10px 15px rgba(0,0,0,0.4);
			background: #2196F3;
			cursor:pointer;
		}
		.btn-cnt{
			position:absolute;
			top: 0.5vh;
			left: 0;
			font-size:45px;
			width: 60px;
			-webkit-transition: all .45s ease-in-out;
			   -moz-transition: all .45s ease-in-out;
          -ms-transition: all .45s ease-in-out;
           -o-transition: all .45s ease-in-out;
              transition: all .45s ease-in-out;
		}
		.modalT .btn-cnt:hover{
			color:#fff;
			transform:rotateZ(180deg);
			-webkit-transform:rotateZ(180deg);
			-moz-transform:rotateZ(180deg);
			-o-transform:rotateZ(180deg);
			-ms-transform:rotateZ(180deg);
		}
		.modalT span{
			display:block;
			position: absolute;
			width: 28px;
			height:4px;
			top:29px;
			left: 16px;
			background:#000;
			-webkit-transition: all .45s ease-in-out;
			   -moz-transition: all .45s ease-in-out;
				-ms-transition: all .45s ease-in-out;
				 -o-transition: all .45s ease-in-out;
                    transition: all .45s ease-in-out;
		}
		.modalT span:nth-child(1){
			transform:rotateZ(90deg);
		}
		.modaT span:nth-child(3){
			transform:rotateZ(90deg);
		}
		.modalT.hovering span{
			border-radius:9px;
			margin-left: 0;
			background: #fff;
		}
		/* ORIGINAL CODE FOR MODAL TRIGGER
		.modalT.hovering span:nth-child(1){
			transform: rotateZ(135deg);
		}
		
		.modalT.hovering span:nth-child(2){
			transform: rotateZ(45deg);
			width: 15px;
			left: 9px;
			top: 32px;
		}*/
		.modalT.hovering span:nth-child(1){
			transform: rotateZ(180deg);
		}
		
		.modalT.hovering span:nth-child(2){
			transform: rotateZ(135deg);
			width: 15px;
			left: 15px;
			top: 24px;
		}
		.modalT.hovering span:nth-child(3){
			transform: rotateZ(45deg);
			width: 15px;
			left: 15px;
			top: 34px;
		}*/
		.regular-modal{
          left: 25% !important;
        }
        .popup{
          display:none;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
		  z-index: 999;
          background-color: black;
          opacity: .4;
          -webkit-transition: background .95s linear;
             -moz-transition: background .95s linear;
              -ms-transition: background .95s linear;
               -o-transition: background .95s linear;
                  transition: background .95s linear;
        }
		.popup.popped{
			display: block;
		}
        .main-modal{
          display:block;
          z-index: 999;
          position: fixed;
          left: 100vw;
          margin: 15% 23vw;
          background: #eee;
          width: 50vw;
          opacity: 0;
          padding: 20px;
          border-radius: 10px;
          color: black;
          font-size: 14px;
          text-align: center;
		  transition: all 1s cubic-bezier(.17,.67,.71,.94);
		  -webkit-transition: all 1s cubic-bezier(.17,.67,.71,.94);
		  -moz-transition: all 1s cubic-bezier(.17,.67,.71,.94);
		  -o-transition: all 1s cubic-bezier(.17,.67,.71,.94);
		  -ms-transition: all 1s cubic-bezier(.17,.67,.71,.94);
        }
		.main-modal.modal-open{
			left: 0;
			opacity: 1;
			box-shadow: 0px 2px 1px rgba(0,0,0,0.3);
		}
		.modal-lg{
          width: 75% !important; 
          margin: 15% 11%;
        }
        .modal-lg .modal-dialog > p{
          margin: 0 100px 0 100px;
        }
        .modal-lg .button-warning, .modal-lg .button-default{
          margin-left: 45%;
        }
        .modal-cover{
          width: 100vw !important;
          height: 100vh !important;
          padding:0 !important;
          margin: 0 !important;
          border-radius: 0 !important;
          left: 0 !important;
          box-shadow: none;
        }
        .modal-cover .modal-header h4{
          font-weight: 400;
          margin: 30px 0 25px 150px;
          font-size: 35px !important;
          border-bottom: none !important;
        }
        .modal-cover .modal-close-toggle{
          font-size: 60px !important;
          top: 3%;
        }
        .modal-cover .button-warning, .modal-cover .button-default{
          margin-left: 45% !important;
        }
        .modal-cover .modal-dialog > p{
          margin: 0 250px 0 250px;
        }
        .modal-header h4{
          font-family: "Helvetica Neue", "Arial", Helvetica, Arial, sans-serif;
          float: left;
          font-weight:400;
          font-style: normal;
          width:100%;
          margin: 0 0 25px 0;
          padding-bottom: 15px;
          border-bottom: 1px solid rgba(0,0,0,0.2);
          font-size:25px;
          text-align: left;
        }
        .modal-close-toggle{
          position: absolute;
          font-size: 40px;
          font-weight: 100;
          top: 2vh;
          left: 49vw;
          -webkit-transition: color .25s linear;
             -moz-transition: color .25s linear;
              -ms-transition: color .25s linear;
               -o-transition: color .25s linear;
                  transition: color .25s linear;
        }
        .modal-close-toggle:hover{
          cursor: pointer;
          color: #707070;
        }
        .modal-dialog{
          font-size:18px;
          width:100%;
          font-weight: 300;
          text-align: center;
        }
        .modal-dialog > p{
          margin: 0 50px 0 50px;
        }
        .button-warning{
          width: 150px;
          height: 45px;
          border-radius: .4em;
          margin-left: 19vw;
          background:#EC407A;
          -webkit-transition: all .25s linear;
             -moz-transition: all .25s linear;
              -ms-transition: all .25s linear;
               -o-transition: all .25s linear;
                  transition: all .25s linear;
        }
        .button-warning:hover{
          background: #ee8583;
          cursor: pointer;
        }
        .button-warning p, .button-default p{
          padding-top: 10px;
          color: #eee;
          font-weight: 400;
        }
        .button-default{
          width: 150px;
          height: 45px;
          border-radius: .4em;
          margin-left: 19vw;
          background:#64B5F6;
          -webkit-transition: all .25s linear;
             -moz-transition: all .25s linear;
              -ms-transition: all .25s linear;
               -o-transition: all .25s linear;
                  transition: all .25s linear;
        }
        .button-default:hover{
          background: #7cccce;
          cursor: pointer;
        }
		.warning-bar, .default-bar{
          -webkit-transition: width .25s linear;
             -moz-transition: width .25s linear;
              -ms-transition: width .25s linear;
               -o-transition: width .25s linear;
                  transition: width .25s linear;			
		}
		.warning-bar{
          box-shadow: 0px 2px 1px rgba(0,0,0,0.3);
          top: -50%;
          width: 800px;
          height: 45px;
          background: #e66;
          left: 24vw;
          border-radius: .4em;
          padding: 0;
          position: absolute;
		  z-index: 999;
		  transition: all .5s ease-in-out;
		  -webkit-transition: all .5s ease-in-out;
		  -moz-transition: all .5s ease-in-out;
		  -o-transition: all .5s ease-in-out;
		  -ms-transition: all .5s ease-in-out;
        }
		.warning-bar.open{
			top: 10%;
		}
        .warning-bar-content, .default-bar-content{
          margin-top: 10px;
          text-align: center;
          color:#fff;
          font-size: 20px;
          font-weight: 500;
        }
        .warning-bar-toggle, .default-bar-toggle{
          font-weight: 200;
          font-size: 35px;
          position: absolute;
          top: 5%;
          left: 95%;
          color:#fff;
          cursor: pointer;
        }
        .default-bar{
          box-shadow: 0px 2px 1px rgba(0,0,0,0.3);
          top: -50%;
          width: 800px;
          height: 45px;
          background: #62b5ce;
          left: 24vw;
          border-radius: .4em;
          padding: 0;
          position: absolute;
		  z-index: 999;
		  transition: all .5s ease-in-out;
		  -webkit-transition: all .5s ease-in-out;
		  -moz-transition: all .5s ease-in-out;
		  -o-transition: all .5s ease-in-out;
		  -ms-transition: all .5s ease-in-out;
        }
		.default-bar.open{
			top: 10%;
		}
		@media (max-width:1097px){
			.warning-bar, .default-bar{
				width: 600px !important;
				left: 14vw;
			}	
		}
        @-webkit-keyframes pulse{
          0%{
            box-shadow: 0px 5px 8px rgba(0,0,0,0.4);
          }
          25%{
            box-shadow: 0px 5px 11px rgba(0,0,0,0.4);
          }
          50%{
            box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
          }
          75%{
            box-shadow: 0px 5px 9px rgba(0,0,0,0.4);
          }
          100%{
            box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
          }
        }
        @-moz-keyframes pulse{
          0%{
            box-shadow: 0px 5px 8px rgba(0,0,0,0.4);
          }
          25%{
            box-shadow: 0px 5px 11px rgba(0,0,0,0.4);
          }
          50%{
            box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
          }
          75%{
            box-shadow: 0px 5px 9px rgba(0,0,0,0.4);
          }
          100%{
            box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
          }       
        }
        @-ms-keyframes pulse{
          0%{
            box-shadow: 0px 5px 8px rgba(0,0,0,0.4);
          }
          25%{
            box-shadow: 0px 5px 11px rgba(0,0,0,0.4);
          }
          50%{
            box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
          }
          75%{
            box-shadow: 0px 5px 9px rgba(0,0,0,0.4);
          }
          100%{
            box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
          }        
        }
        @-o-keyframes pulse{
          0%{
            box-shadow: 0px 5px 8px rgba(0,0,0,0.4);
          }
          25%{
            box-shadow: 0px 5px 11px rgba(0,0,0,0.4);
          }
          50%{
            box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
          }
          75%{
            box-shadow: 0px 5px 9px rgba(0,0,0,0.4);
          }
          100%{
            box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
          }     
        }
        @keyframes pulse{
          0%{
            box-shadow: 0px 5px 8px rgba(0,0,0,0.4);
          }
          25%{
            box-shadow: 0px 5px 11px rgba(0,0,0,0.4);
          }
          50%{
            box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
          }
          75%{
            box-shadow: 0px 5px 9px rgba(0,0,0,0.4);
          }
          100%{
            box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
          }      
        }
		@keyframes lr-bounce{
			0%{
				margin-left:-5px;
			}
			100%{
				margin-left:0;
			}
		}
		@-webkit-keyframes lr-bounce{
			0%{
				margin-left:-5px;
			}
			100%{
				margin-left:0;
			}
		}
		/******** GLOBAL NAVBAR STYLES******/
		.navbar-inner{
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 75px;
			background: #673AB7;
			box-shadow: 0px 2px 1px rgba(0,0,0,0.3);
			z-index:1;
		}
		.nav-links{
			position: relative;
			list-style-type: none;
			text-align:center;
			display:flex;
			width: 100vw;
			left: -120vw;
			top: -5.5vh;
			opacity: 0;
			transition-property: left;
			-webkit-transition: all .50s ease-in;
			-moz-transition: all .50s ease-in;
			-ms-transition: all .50s ease-in;
			-o-transition: all .50s ease-in;
             transition: all .50s ease-in;
		}
		.nav-links.open{
			position: relative !important;
			list-style-type: none !important;
			text-align:center !important;
			display:flex !important;
			width: 100vw !important;
			left: 5vw !important;
			top: -5.5vh !important;
			opacity: 1 !important;
		}
		.nav-el{
			margin: 0 20px;
			width: auto;
			height: 59px;
		}
		.nav-el > a{
			position: relative;
			top: 1vh;
			text-decoration: none;
			color: #fff;
			font-size: 20px;
			font-family: 'Roboto', sans-serif;
			transition: color .2s linear;
			-webkit-transition: color .2s linear;
			-moz-transition: color .2s linear;
			-o-transition: color .2s linear;
			-ms-transition: color .2s linear;
		}
		.nav-el > a:hover{
			color: #89B5FF;
		}
		.navburger{
			width: 60px;
			height: 45px;
			position: relative;
			margin: 24px;
			-webkit-transform: rotateZ(0deg);
			-moz-transform: rotateZ(0deg);
			-o-transform: rotateZ(0deg);
			transform: rotateZ(0deg);
			-webkit-transition: .5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
			cursor: pointer;
		}
		.navburger span {
			display: block;
			position: absolute;
			height: 4px;
			width: 52%;
			background: #fff;
			opacity: 1;
			left: 0;
			-webkit-transform: rotateZ(0deg);
			-moz-transform: rotateZ(0deg);
			-o-transform: rotateZ(0deg);
			transform: rotateZ(0deg);
			-webkit-transition: all .25s ease-in-out;
			-moz-transition: all .25s ease-in-out;
			-o-transition: all .25s ease-in-out;
			transition: all .25s ease-in-out;
		}
		.navburger.open{
			margin: 7px;
			-webkit-transform: rotateZ(-180deg);
			-moz-transform: rotateZ(-180deg);
			-o-transform: rotateZ(-180deg);
			transform: rotateZ(-180deg); 
		}
		.navburger span:nth-child(1) {
			top: 0px;
		}
		.navburger span:nth-child(2) {
			top: 9px;
		}
		.navburger span:nth-child(3) {
			top: 18px;
		}
		.navburger.open span:nth-child(1) {
			z-index: 99;
			top: 5px;
			left: 17px;
			width: 15px;
			border-radius:9px;
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		.navburger.open span:nth-child(2) {
			border-radius: 9px;
		}
		.navburger.open span:nth-child(3) {
			z-index: 99;
			top: 14px;
			left:17px;
			width: 15px;
			border-radius:9px;
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}	
		/******************* TOAST BARS ********************/
		.toaster{
          width: 150px;
          height: 45px;
          border-radius: .4em;
          margin-left: 19vw;
          background:#4CAF50;
          -webkit-transition: all .25s linear;
             -moz-transition: all .25s linear;
              -ms-transition: all .25s linear;
               -o-transition: all .25s linear;
                  transition: all .25s linear;
        }
        .toaster:hover{
          background: #81C784;
          cursor: pointer;
        }
        .toaster p{
          padding-top: 10px;
          color: #eee;
          font-weight: 400;
        }
		
		/*********** TOASTER SIZES ***********/
		.i-am-toast{
			left: -30vw;
		}
		.i-am-toast-right{
			left: 100vw;
		}
		.toaster-bar-sm:not(.toaster-bar-rg), .toaster-bar-sm:not(.toaster-bar-lg){
			width: 150px; height: 60px;
			position: relative;
			background: #009688;
			top: 92vh; /** Move to this top val**/
			border-radius: 0.5em;
			overflow:hidden;
			-webkit-transition: all .25s linear;
             -moz-transition: all .25s linear;
              -ms-transition: all .25s linear;
               -o-transition: all .25s linear;
                  transition: all .25s linear;
		}
		.toaster-bar-rg:not(.toaster-bar-lg), .toaster-bar-rg:not(.toaster-bar-sm){
			width: 250px; height: 80px;
			position: relative;
			background: #009688;
			top: 84vh; /** Move to this top val**/
			border-radius: 0.5em;
			-webkit-transition: all .25s linear;
             -moz-transition: all .25s linear;
              -ms-transition: all .25s linear;
               -o-transition: all .25s linear;
                  transition: all .25s linear;
		}
		.toaster-bar-lg:not(.toaster-bar-rg), .toaster-bar-lg:not(.toaster-bar-sm){
			width: 300px; height: 100px;
			position: relative;
			background: #43A047;
			z-index: 999;
			top: 87vh; /** Move to this top val**/
			border-radius: 0.5em;
			-webkit-transition: all .25s linear;
             -moz-transition: all .25s linear;
              -ms-transition: all .25s linear;
               -o-transition: all .25s linear;
                  transition: all .25s linear;
		}
		.toaster-bar-lg .toast-text{
			padding: 0.5em;
			color: #fff;
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
			text-align: center;
		}
		.toaster-bar-rg .toast-text{
			padding: 0.5em;
			font-size: 14px;
			color: #fff;
			font-family: 'Roboto', sans-serif;
			font-weight: 400;
			text-align: center;
			width: auto;
			height: auto;
		}
		.toaster-bar-sm .toast-text{
			
		}
		.toaster-active{
			left: 0vw;
			-webkit-transition: all .25s linear;
             -moz-transition: all .25s linear;
              -ms-transition: all .25s linear;
               -o-transition: all .25s linear;
                  transition: all .25s linear;
		}
		.toaster-cold{
			left: -32vw;
			-webkit-transition: all .25s linear;
             -moz-transition: all .25s linear;
              -ms-transition: all .25s linear;
               -o-transition: all .25s linear;
                  transition: all .25s linear;
		}
		
	/************* BODY STYLES ******************/
	
	
	/******** COLUMN CLASSES *********/
	.col-lg-12{
		width: 100vw;
		height: 100vh;
		left: -1vw;
		top: 35vh;
		position: relative;
	}
	.grn{
		background: #009688;
	}
	.col-md-12{
		position: absolute;
		top: 75px;
		left: 0;
		height:400px;
		width:100vw;
		background: #E2E2E2;
	}
	.col-md-8{
		width: 40vw;
		height: 500px;
		margin: 0 0 0 25vw;
	}
	/****** JUMBOTRON CLASSES ********/
	.h1{
		margin: 150px 0 0 450px;
	}
	.h1 p{
		
	}
	.header{
		position: relative;
		top: 50px;
		color: #fff;
	}
	.lg-paragraph{
		margin-top: 100px;
		padding: 25px;
	}
